<%- include("partials/header.ejs") %>
<div class="hidden lg:block md:block xl:block">
    <%- include("partials/NavForH.ejs") %>
</div>

<body>
  <% if(user){ %>
  <% console.log(data[0].avatar) %>
  <div class="cont h-auto p-5 md:hidden lg:hidden xl:hidden">
    <h1 class="text-3xl font-bold mt-11 mb-7 ml-8 text-start">Profile</h1>
    <div class="card w-full bg-white shadow-md text-center flex flex-col items-center justify-center rounded-3xl h-56 p-4 border border-gray-200">
      <img class="h-24 rounded-full" src="<%- (data[0].avatar && data[0].avatar.startsWith('https')) ? data[0].avatar : '/images/User.png'  %>" alt="">

      <h1 class="text-3xl font-bold"><%=data[0].username %></h1>
      <small>Guest</small>
    </div>
    <a href="/host">
      <div class="card2 w-full bg-white shadow-lg text-center flex items-center justify-start rounded-3xl h-24 p-2 mt-7 border border-gray-200">
        <img src="/images/Hostimg.avif" class="h-16" alt="">
        <div class="text-o text-left ml-9">
          <h3 class="font-medium">Become a host</h3>
          <small class="text-gray-500">It's easy to start hosting and earn extra income</small>
        </div>
      </div>
    </a>

    <a href="/logout" class="block mt-9 p-2 bg-gray-200 shadow-2xl rounded-lg text-center transition-all duration-300 hover:shadow-all-sides hover:scale-100">Log out</a>
  </div>

<!-- For Midium and Large -->

  <div class="cont h-auto p-5 hidden lg:flex md:flex md:flex-col justify-center justify-items-center text-center items-center lg:flex-col xl:hidden mt-11">

    <h1 class="text-3xl font-bold mt-11 mb-7 ml-8 text-start">Profile</h1>
    <div class="card bg-white shadow-md text-center flex flex-col items-center justify-center rounded-3xl h-56 p-4 border border-gray-200 w-96">
      <img class="h-24 rounded-full" src="<%-data[0].avatar %>" alt="">
      <h1 class="text-3xl font-bold"><%=data[0].username %></h1>
      <small>Guest</small>
    </div>

    <a href="/host">
      <div class="card2 w-96 bg-white shadow-lg text-center flex items-center justify-start rounded-3xl h-24 p-2 mt-7 border border-gray-200">
        <img src="/images/Hostimg.avif" class="h-16" alt="">
        <div class="text-o text-left ml-9">
          <h3 class="font-medium">Become a host</h3>
          <small class="text-gray-500">It's easy to start hosting and earn extra income</small>
        </div>
      </div>
    </a>

    <a href="/logout" class="block mt-9 p-2 bg-gray-200 shadow-2xl rounded-lg text-center transition-all duration-300 hover:shadow-all-sides hover:scale-100 w-96">Log out</a>
  </div>


  <!-- for DeskTop -->
<div class="cont h-auto p-5 hidden md:hidden lg:hidden xl:flex justify-center gap-5 justify-items-center text-center items-end mt-24">



    <div class="h-[550px] w-[50%] border border-gray-300 rounded-xl p-5 text-start">
        <h1 class="text-3xl font-bold">Profile</h1>
        <div class="flex gap-10 mt-11 items-center border border-gray-300 rounded-xl p-1 w-96 hover:bg-gray-300">
     
            <img class="w-12 rounded-full" src="<%- (user && user.avatar && user.avatar.startsWith('https')) ? user.avatar : '/images/User.png'%>" alt="">
            <h2 class="font-semibold">About me</h2>
        </div>
    </div>


    <div class="flex border gap-5 border-gray-300 rounded-xl h-[550px] p-5 flex-col">
      <h1 class="text-3xl h-0 font-bold  mb-7 ml-8 text-start">About me</h1>

      <div class="flex gap-5">
        <div class="card w-96 bg-white shadow-md text-center flex flex-col items-center justify-center rounded-3xl h-56 p-4 border border-gray-200">
          <img class="h-24 rounded-full" src="<%-data[0].avatar %>" alt="">
          <h1 class="text-3xl font-bold"><%=data[0].username %></h1>
          <small>Guest</small>
        </div>

    <div class="flex flex-col">
        <a href="/host">
          <div class="div flex flex-col">
            <div class="card2 w-full bg-white shadow-lg text-center flex items-center justify-start rounded-3xl h-24 p-2 mt-7 border border-gray-200">
              <img src="/images/Hostimg.avif" class="h-16" alt="">
              <div class="text-o text-left ml-9">
                <h3 class="font-medium">Become a host</h3>
                <small class="text-gray-500">It's easy to start hosting and earn extra income</small>
              </div>
            </div>
          </div>
        </a>


        <a href="/logout" class="block mt-9 p-2 bg-gray-200 shadow-2xl rounded-lg text-center transition-all duration-300 hover:shadow-all-sides hover:scale-100 w-auto">Log out</a>
    </div>
      </div>
    </div>

  </div>

  <%} else{ %>
  <div class="cont h-auto p-5 block xl:hidden lg:hidden md:hidden">
    <h1 class="text-3xl font-bold mt-11 mb-7 ml-8 text-start">Profile</h1>
    <div class="card w-full bg-white shadow-md text-center flex flex-col items-center justify-center rounded-3xl h-56 p-4 border border-gray-200">
      <img class="h-24" src="/images/User.png" alt="">
      <h1 class="text-3xl font-bold">Guest</h1>

    </div>

    <a href="/host">
      <div class="card2 w-full bg-white shadow-lg text-center flex items-center justify-start rounded-3xl h-24 p-2 mt-7 border border-gray-200 transition-all duration-300 hover:shadow-all-sides hover:scale-100">
        <img src="/images/Hostimg.avif" class="h-16" alt="">
        <div class="text-o text-left ml-9">
          <h3 class="font-medium">Become a host</h3>
          <small class="text-gray-500">It's easy to start hosting and earn extra income</small>
        </div>
      </div>
    </a>

    <div class="flex justify-evenly w-full gap-3">
      <a href="/login" class="block mt-9 p-2 bg-gray-200 shadow-2xl rounded-lg text-center transition-all duration-300 hover:shadow-all-sides hover:scale-100 w-full h-10">Login</a>
      <a href="/signup" class="block mt-9 p-2 bg-gray-200 shadow-2xl rounded-lg text-center transition-all duration-300 hover:shadow-all-sides hover:scale-100 w-full">Signup</a>
    </div>
  </div>


  <!-- This is for Desktop -->

<div class="cont h-auto p-5 hidden lg:flex md:flex xl:flex justify-center text-center gap-5 mt-11">
    <div class="card w-96 bg-white shadow-md text-center flex flex-col items-center justify-center rounded-3xl h-64 p-4 border border-gray-200">
      <img class="h-24" src="/images/User.png" alt="">
      <h1 class="text-3xl font-bold">Guest</h1>

    </div>

   <div class="flex flex-col">
         <a href="/host">
      <div class="card2 w-96 bg-white shadow-lg text-center flex items-center justify-start rounded-3xl h-24 p-2 mt-7 border border-gray-200 transition-all duration-300 hover:shadow-all-sides hover:scale-100">
        <img src="/images/Hostimg.avif" class="h-16" alt="">
        <div class="text-o text-left ml-9">
          <h3 class="font-medium">Become a host</h3>
          <small class="text-gray-500">It's easy to start hosting and earn extra income</small>
        </div>
      </div>
    </a>

    <div class="flex justify-evenly w-full gap-3">
      <a href="/login" class="block mt-9 p-2 bg-gray-200 shadow-2xl rounded-lg text-center transition-all duration-300 hover:shadow-all-sides hover:scale-100 w-52 h-10">Login</a>
      <a href="/signup" class="block mt-9 p-2 bg-gray-200 shadow-2xl h-10 rounded-lg text-center transition-all duration-300 hover:shadow-all-sides hover:scale-100 w-52">Signup</a>
    </div>
   </div>
  </div>
  <% } %>

  <%- include("partials/lowerNav.ejs") %>
</body>

</html>
